:root{
    --color1: rgb(219,144,.5);
    --color2: rgba(23, 180, 83, 0.877);
    --color3: rgba(11,194,211, 0.623);
    --fondo: #f2f2f2;
    --espacios: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background: var(--fondo);
  }

img{
    vertical-align: top;
}

/* Header */

header{
    width: 100%;
    height:600px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  
  nav{
    width: 100%;
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5)
  }
  
  .nav1{
    background: transparent;
    height: 80px;
    color:#fff;
  }

  .textos{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(231, 31, 141);
    overflow: hidden;
    text-align: center;
  }
  
  .textos>h1{font-size:80px;;}
  
  .textos>h2{font-size: 30px; font-weight: 300;}

  .textox>h4{
    text-align: center;
  }

  .contenedor-nav{
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width:1000px;
    height:inherit;
    overflow: hidden;
  }
  
  nav .enlaces a{
    display: inline-block;
    padding: 5px 0;
    margin-right: 17px;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: inherit;
  }
  
  nav .enlaces a:hover{
    border-bottom: 3px solid #1498a4;
    transition: 0.6s;
  }
  
  .logo, .logo img{ 
    height:80px;
    text-align: center;
  }
  
  .icono{
    display:none;
    font-size: 24px;
    padding: 23.5px 20px;
  }
  
  /* SECTION ABOUT */

  .title-about{
    text-align: center;
    padding: 40px;
  }

  .text-about{
    text-align: justify;
    vertical-align: middle;
    width:70%;
    padding: 20px;   
    font-family: 'Roboto'; 
  }

.about{
  background: var(--fondo);

  background-size: cover;
}

/* CLIENTS SECTION */

.section-padding{
  padding: 50px 0;
  background-color: aliceblue;
}

.section-headind h2{ 
  font-family: 'Roboto';
}

.team-info{
  margin-top: 50px;
}

.team-info h3{
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 0;
}

.team-info h6{
  font-weight: 500;
  font-size: 16px;
}

.team-info p{
  margin:40px;  
  color: #999;
  font: Courgette;
  font-size: 18px;
}

.team-div{
  width: 45px;
  background: #000;
  height: 2px;
  position: relative;
  margin-top: 20px;
}

.team-div:after{
  position: absolute;
  content: '';
  width: 30px;
  background: #000;
  height: 2px;
  bottom: 0;
  top: 5px;
}

.carousel-indicators{
  border-color: 20px;
  left: 53%;
}
.carousel-indicators li{
  border-color: black;
}

.carousel-indicators.active{
  background: #FF1493;
  border-color: fuchsia;

}

.list-inline li{
  width: 30px;
  height: 30px;
  background: #262626;
  border-radius: 50px;
}

.list-inline li a i{
  color: #fff;
  padding: 7px 3;
}

/* END CLIENTS SECTION */

  /* FOOTER */

  .fa-fa-facebook{
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .textos-footer{

    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    overflow: hidden;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: large;
  }
  .parallax {
    /* The image used */
    background-image: 
    
    linear-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
),
url();

    /* Set a specific height */
    height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer-logo{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-logo img{
    width: 80%;
  }

  @media screen and (max-width: 700px){


    /* HEADER SECTION */

    .nav2{
      color: #fff;
    }
  
    .icono{
      display:block;
      cursor: pointer;
    }
  
    .enlaces{
      position: fixed;
      top:80px;
      background: #2c3e50;
      left: 0;
      height: 100%;
      transition: 1s;
      width: 0;
      overflow: hidden;
    }

    /* END HEADER SECTION */

    /* CASOS DE EXITO SECTION  */


    
     /* END CASOS DE EXITO SECTION  */
  
  }